* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}


.layout {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 60px auto 60px;
  grid-template-areas: "sidebar hd"
                       "sidebar main"
                       "footer footer";
  height: 100%;
}

header,
aside,
main,
footer {
  /* padding: 16px; */
  text-align: center;
}

header {
  background: #521751;
  grid-area: hd;
}

aside {
  background: #3A4850;
  grid-area: sidebar;
  height: 100%;
}

main {
  grid-area: main;
}

footer {
  background: black;
  grid-area: footer;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-item {
  margin: 0 10px;
}

.navigation-item a {
  text-decoration: none;
  color: white;
}

.navigation-item a:hover,
.navigation-item a:active {
  color: #fa923f;
}

.sidebar-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.sidebar-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.side-header-color {
  background-color: #2B353A;
}

.nav-sidebar-color {
  background-color: #3A4850;
}

.user-header {
  margin-top: 5px;
  color: #eceff1;
  text-align: left;
}

.nav {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0;
}

.nav a {
  color: #f5f5f5;
}

.adjust-icon {
  vertical-align: middle;
}

.sidebar-icon {
  font-size: 15px;
}

.nav.active {
  background-color: rgba(0, 0, 0, 0.1);
}

aside ul {
  margin-top: 0;
}